<strong>Hello, {{ meetupCreator }}</strong>
<p>A new user has subscribed to one of your meetups, following details:</p>
<p>
  <strong>User: </strong> {{ user }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
  <strong>Where: </strong> {{ where }} <br />
  <strong>When: </strong> {{ when }} <br />
</p>
